body{
    background:#eee;
    text-align: center;
}
h1{
    text-decoration: underline;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.containerInformacoes{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-content: center;
    justify-content: center;
}
.containerInformacoes div{
    border:1px solid black;
    padding: 10px;
    background: cornsilk;
    flex-basis: 33%;
}
.informacoes p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
}
.informacoes h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
div img{
    height:400px;
    width:800px;
    justify-content: center;
    margin-top: 50px;
}
.inputs{
    border: none;
    background-color: violet;
    color:#000;
    font-size: 30px;
    display: flexbox;
    width: 250px;
    text-shadow: tomato;
    justify-content: center;
}
.inputs::-webkit-input-placeholder{
    text-transform: uppercase;
    font-size: 25px;
    align-items: center;
    text-align: center;
}
.redesocial{
    height: 60px;
    width: 30px;
    padding: 10px 0;

}
#altura{
    margin-top: 10px;
}
#resultado{
    margin-top: 10px;
    position: absolute;
	left: 67%;
    width: 100px;
	top: 11%

}
#igual{
    margin-top: 10px;
    position: absolute;
	left:770px;
    top:10%;
    height:50px;
}
.copyright{
    padding-top:40px;
}
.icones{
    height: 35px;
    width: 35px;
    padding: 30px;
    margin-top: 80px;
}
footer{
    margin-top: 40%;
    background-color: aqua;
    width: 100%;
    position: absolute;
}
footer p{
    margin-bottom: 30px;
    font-size: large;
    top: 80%;
    position: absolute;
    margin: 3px;
}
/*
@media (max-height:140px){
    body{
        background-color: black;
    }
    .informacao{
        height: 160px;
    }
}
*/
@media (max-width:650px){
    .body{
        background-color: #000;
        width: 100%;
    }
    .containerInformacoes{
        flex-direction: column;
        justify-content: space-between;
    }
    div img{
        height:200px;
        width:100%;
        margin-top: 35%
    }
    .inputs{
        font-size: 40px;
        width: 50%;
    }
    .icones{
        height: 35px;
        width: 35px;
        padding: 20px;
        margin-top: 80px;
    }
    #igual{
        margin-top: 130px;
        position: absolute;
        left:45%;
        top:10%;
        height:40px;
    }
    #resultado{
        left: 100%;
        margin-top: 20px;
        position: absolute;
        left: 25%;
        top: 35%
    }
    footer{
        margin-top: 300%;
    }
}
