body{
    background:#eee;
    text-align: center;
}
h1{
    text-decoration: underline;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

div img{
    height:400px;
    width:800px;
    justify-content: center;
    margin-top: 50px;
}
.inputs{
    border: none;
    background-color: violet;
    color:#000;
    font-size: 30px;
    text-shadow: tomato;
    justify-content: center;
}
.redesocial{
    height: 60px;
    width: 30px;
    padding: 10px 0;

}
#altura{
    margin-top: 10px;
}
#resultado{
    left: 100%;
    margin-top: 10px;
    position: absolute;
	left: 70%;
	top: 10%

}
#igual{
    margin-top: 10px;
    position: absolute;
	left:65%;
    top:10%;
    height:50px;
}
#informacaoImc{
    position: absolute;
    font-size: 25px;
    font-style: inherit;
    font-weight: 900;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0px;
    word-wrap: break-word;
}

#imc{
    margin-left: 20%;
    flex-direction: row-reverse;
    margin-top: 50px;
    flex-shrink: initial;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#formulaImc{
    background-color: #A9A9A9;
    position: absolute;
    top: 87%;
    left: 60%;
}

footer{
    height: 50px; 
    margin-top: 50px;
    background-color: rgb(32, 211, 243);
    height: 200px;
    width: 100%;
    position: absolute;
}
.copyright{
    padding-top:40px;
}
.icones{
    height: 35px;
    width: 35px;
    padding: 30px;
    margin-top: 80px;
}

.informacao{
    height: 400px;
    width: 350px;
    align-items: center;
    text-align: center;
    background-color: #A9A9A9;
    border: 1px solid black;
}

.informacao p{
    font-size: 20px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
footer p{
    margin-bottom: 30px;
    font-size: large;
    top: 80%;
    position: absolute;
    margin: 3px;
}

@media (max-width:650px){
    .body{
        background-color: #000;
    }
    div img{
        height:200px;
        width:400px;
        margin-top: 35%
    }
    .inputs{
        font-size: 40px;
        width: 50%;
    }
    .icones{
        height: 35px;
        width: 35px;
        padding: 20px;
        margin-top: 80px;
    }
    #igual{
        margin-top: 130px;
        position: absolute;
        left:45%;
        top:10%;
        height:40px;
    }
    #resultado{
        left: 100%;
        margin-top: 10px;
        position: absolute;
        left: 25%;
        top: 35%
    }
    .informacao{
        height: 50%;
        width: 50%;
        margin: 10px;
        padding: 30px;
        top: 40%;
    }
    #formulaImc{
        background-color: #A9A9A9;
        position: absolute;
        top: 200%;
        left: 17%;
    }
    #formulaImc p{
        width: 100%;
        height: 100%;
        font-size: 15px;
    }
    #imc{
        margin-left: 20%;
        flex-direction: row-reverse;
        margin-top: 50px;
        flex-shrink: initial;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #imc p{
        width: 100%;
        height: 100%;
        font-size: 15px;
    }
    footer{
        font-size: large;
        top: 270%;
        position: absolute;
        margin: 3px;
    }
}